p {
  line-height: 10px;
}

.form-size {
  width: 35vw;
}
.div-size {
  width: 45vw;
}
.div-contact {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}
.icon-profile-size {
  font-size: 95px;
}
.contact-font-size {
  font-size: 14px;
}

.button-home {
  width: 20vw;
}